@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

* {
  font-family: "Ubuntu Condensed", sans-serif;
  color: rgba(240, 240, 240);
  font-size: 30px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(251, 199, 127);
}
header {
  padding: 10px;
}
.departures {
  background-color: rgba(6, 6, 6);
  border-radius: 10px;
  padding: 10px;
}
.departures table {
  background-color: rgba(46, 46, 46);
  text-align: left;
}
.departures table td {
  height: 40px;
  text-transform: uppercase;
}
.departures table div {
  border: solid 4px rgba(26, 26, 26);
  background-color: rgba(0, 0, 0);
  float: left;
}
#time {
  width: 160px;
}
#destination {
  width: 330px;
}
#flight {
  width: 205px;
}
#gate {
  width: 135px;
}
#remarks {
  width: 300px;
}
.flip {
  animation: 0.5s linear flipping;
}
@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}